<div class="row">
    <div class="col-12 app-font">
        <h1 class="title">My Talent</h1>
    </div>
</div>

<ul class="nav nav-tabs profile-tab " role="tablist">
    <li class="nav-item ">
        <a class="nav-link active text-danger app-font pane " 
            data-toggle="tab" href="#inProcess"
            role="tab" aria-expanded="true" > 
            Talent In Process
        </a>  
    </li>
    <li class="nav-item ">
        <a class="nav-link text-danger app-font pane " 
            data-toggle="tab" href="#myTeams"
            role="tab" aria-expanded="true" > 
            My Teams
        </a> 
        
    </li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="inProcess" role="tabpanel" aria-expanded="true" >
        <div class="container-fluid">
            <div class="row" *ngFor="let item of talentInProcess">
                <div class="col-lg-12 col-xlg-9 col-md-12 mb-2">
                        <a  data-bs-toggle="collapse" [href]="indicator+'p'+item.id" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">
                            <div class="card shadow" >
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-2 tex-center">
                                            <div class="row">
                                                <div class="col center">
                                                    <img [src]="item.profilePic" [alt]="item.fullName" class="avatar profile-img">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col center">
                                                    {{item.status}}
                                                </div>
                                            </div>
                                           
                                            
                                        </div>
                                        <div class="col-10">
                                            <div class="row">
                                                <div class="col-7 app-font">{{ item.fullName }}</div>
                                                <div class="col-3"> {{ item.country }} </div>
                                                <div class="col-2">{{item.globalRaiting}}</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 app-font">{{ item.bio | slice: 0:200 }} {{ item.bio.length > 200 ? '...' : '' }} </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12 app-font center row-container">
                                                    <button>Reject</button>
                                                    <button>Accept</button>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    
                                </div>
                                <div class="card-footer collapse multi-collapse" [id]="'p'+item.id">
                                    <div class="">
                                        Some placeholder content for the first collapse component of this multi-collapse example. This panel is hidden by default but revealed when the user activates the relevant trigger.
                                    </div>
                                </div>    
                            </div>
                        </a>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="myTeams" role="tabpanel" aria-expanded="true" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-xlg-2 col-md-4 mb-2">
                    <div class="card shadow" >
                        <div class="card-body">
                            My Teams
                        </div>
                    </div>            
                </div>
            </div>
        </div>
    </div>
</div>
