<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark text-danger" [routerLink]="mainRoute" aria-expanded="false">
                        <span>
                            <mat-icon>home</mat-icon>
                        </span>
                        <span class="hide-menu space"> Home </span> 
                    </a>
                </li>
                <li [class]="item.css" *ngFor="let item of menuItems">
                    <a class="waves-effect waves-dark text-danger" [routerLink]="mainRoute+item.url" aria-expanded="false">
                        <mat-icon>{{ item.icon }} </mat-icon>
                        <span class="hide-menu">{{item.menuName}}</span>
                    </a>
                    <ul>
                        <li *ngFor="let subItem of item.subMenu">
                            <a [routerLink]="mainRoute+subItem.url" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}" class="text-danger">
                                <mat-icon>{{ subItem.icon }}</mat-icon>
                                <span>{{subItem.menuName}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->