<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark text-danger" [routerLink]="mainRoute" routerLinkActive="active" aria-expanded="false">
                        <div class="row">
                            <div class="col-2"><mat-icon>home</mat-icon></div>
                            <div class="col-10 hide-menu"> Home</div>
                        </div>
                        
                    </a>
                </li>
                <li [class]="item.css" *ngFor="let item of menuItems">
                    <a class="waves-effect waves-dark text-danger" [routerLink]="mainRoute+item.url" routerLinkActive="active">
                        <div class="row">
                            <div class="col-2"><mat-icon>{{ item.icon }} </mat-icon></div>
                            <div class="col-10 hide-menu">{{ item.menuName }}</div>
                        </div>
                    </a>
                    <ul>
                        <li *ngFor="let subItem of item.subMenu">
                            <a [routerLink]="mainRoute+subItem.url" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}" class="text-danger">
                                <div class="row">
                                    <div class="col-2"><mat-icon>{{ subItem.icon }} </mat-icon></div>
                                    <div class="col-10 ">{{ subItem.menuName }}</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
        <div class="hide-menu">
            <div class="container-fluid no-padding">
                <div class="card sidebar-card">
                    <div class="card-body">
                        <div class="row"><img src="../../../assets/talent-cover.83b76330.png" alt="Advancio Platform"></div>
                        <div class="row text-center">Not sure what kind of tech talent do you need?</div>
                        <div class="row"><button class="btn btn-danger red">Take a test to discover</button></div>
                    </div>
                </div>
            </div>
            <div class="container-fluid no-padding">
                <div class="card sidebar-card">
                    <div class="card-body">
                        <div class="row">Invite yout co-worker to Advancio Platform</div>
                        <div class="row">Sent Invite</div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <small><a href="https://www.advancio.com/" target="_blank" class="advancio-link">www.Advancio.com</a></small>
            </div>
        </div>
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->