<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li>
                    <a class="waves-effect waves-dark text-danger" [routerLink]="mainRoute" aria-expanded="false">
                        <div class="row">
                            <div class="col-2"><mat-icon>home</mat-icon></div>
                            <div class="col-10 hide-menu"> Home</div>
                        </div>
                        
                    </a>
                </li>
                <li [class]="item.css" *ngFor="let item of menuItems">
                    <a class="waves-effect waves-dark text-danger" [routerLink]="mainRoute+item.url" aria-expanded="false">
                        <div class="row">
                            <div class="col-2"><mat-icon>{{ item.icon }} </mat-icon></div>
                            <div class="col-10 hide-menu">{{ item.menuName }}</div>
                        </div>
                    </a>
                    <ul>
                        <li *ngFor="let subItem of item.subMenu">
                            <a [routerLink]="mainRoute+subItem.url" routerLinkActive="active"
                                [routerLinkActiveOptions]="{exact: true}" class="text-danger">
                                <div class="row">
                                    <div class="col-2"><mat-icon>{{ subItem.icon }} </mat-icon></div>
                                    <div class="col-10 hide-menu">{{ subItem.menuName }}</div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
        <div class="hide-menu">TExt</div>
        <div class="hide-menu">TExt 2</div>
    </div>
    <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->